@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');

:root {
    --red-color: hsl(0, 100%, 74%);
    --green-color: hsl(154, 59%, 51%);
    --blue-color: hsl(248, 32%, 49%);
    --dark-blue-color: hsl(249, 10%, 26%);
    --grayish-blue-color: hsl(246, 25%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 100vh;
    min-width: 100vw;
    padding: 75px 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/images/bg-intro-desktop.png');
    background-repeat: no-repeat;
    background-color: var(--red-color);
}

p {
    font-size: 16px;
}

#intro {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#intro .intro-left {
    color: #fff;
}

#intro .intro-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 25px;
    letter-spacing: .5px;
}

#intro .intro-desc {
    line-height: 1.7;
    color: #FFF6EF;
}

#intro .intro-right {
    width: 100%;
    height: 100%;
    padding: 15px;
}

#intro .intro-right-heading {
    width: 540px;
    height: 60px;
    background-color: var(--blue-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 23px;
    -webkit-box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.2); 
box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.2);
}

#intro .intro-right-heading h2 {
    font-size: 15px;
    font-weight: 600;
}

#intro .intro-right-heading h2 span {
    font-weight: 200;
}

#intro .intro-right-form {
    max-height: 560px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.2); 
box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.2);
}

#intro .intro-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#intro .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#intro .form-group div {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 10px 20px;
    border: 1px var(--grayish-blue-color) solid;
    border-radius: 5px;
}

#intro .form-group:not(:first-child) {
    margin-top: 15px;
}

#intro .form-group input {
    font-style: 1rem;
    border: none;
    width: 90%;
    color: var(--dark-blue-color);
    opacity: 0.8;
    font-family: inherit;
    font-weight: bold;
}

#intro .form-group input:focus {
    outline: none;
    opacity: 1;
}

#intro .form-group input::placeholder {
    font-weight: bold;
    color: var(--dark-blue-color);
}

#intro .form-group img {
    visibility: hidden;
    opacity: 0;
}

#intro .form-group .error-message {
    align-self: flex-end;
    font-size: 10px;
    font-style: italic;
    color: var(--red-color);
    display: none;
}

#intro .form-group.error .error-message {
    display: block;
}

#intro .form-group.error img {
    visibility: visible;
    opacity: 1;
}

#intro .form-group.error div {
    border: 1px var(--red-color) solid;
}

#intro .form-group.error input::placeholder {
    color: var(--red-color);
}

#intro .intro-form button {
    margin-top: 20px;
    height: 55px;
    background-color: var(--green-color);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 7px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    letter-spacing: 1px;
    border-bottom: 4px solid #32B87D;
    transition: .3s all ease;
}

#intro .intro-form button:active {
    border-bottom: none;
}

#intro .intro-term {
    font-size: 10px;
    color: var(--grayish-blue-color);
    margin: 15px auto 0;
}

#intro .intro-term a {
    text-decoration: none;
    font-weight: 800;
    color: var(--red-color);
}

@media(max-width: 375px) {
    main {
        padding: 100px 25px 65;
        background: url('/images/bg-intro-mobile.png');
        background-repeat: no-repeat;
        background-color: var(--red-color);
    }

    #intro {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    #intro .intro-title {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }
    #intro .intro-desc {
        text-align: center;
    }
    #intro .intro-right {
        margin-top: 100px;
        padding: 0;
    }
    #intro .intro-right-heading {
        width: 327px;
        height: 85px;
        padding: 20px 80px;
        text-align: center;
    }
    #intro .intro-right-form {
        padding: 25px;
    }
    #intro .intro-form button {
        padding-top: 5px;
    }
    #intro .intro-term {
        text-align: center;
        width: 80%;
    }
}